name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint (code)
        run: pnpm lint:fix

      - name: Knip
        run: pnpm knip --fix

      - name: Check engine ranges, peer dependency ranges and installed versions
        run: pnpm test:engines --fix

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
